* {
    color: #fff;
}

div {
    height: 100px;
    width: 100px;
}

.clase {
    font-size: 20px;
}

#id {
    position: relative;
}

.element:hover {
    color: #fff;
}

.element:active {
    color: #fff;
}

.element:focus {
    color: #fff;
}

.element:nth-child(odd) {
    color: #fff;
}

